@import '~dockview/dist/styles/dockview.css';

.App {
  background-color: antiquewhite;
  width: 800px;
  margin: 50px auto;
  height: 1200px;
  border-radius: 12px;
  padding: 20px;
}

.editor {
  padding: 50px;
  background-color: tomato;
  border-radius: 12px;
}